.mat-toolbar.mat-primary {
  background: #00a9e0;
  color: #fff;
}

.notification{
  position: absolute;
  top: 5px;
  //border: 1px solid #FFF;
  right: -8px;
  font-size: 10px;
  background: palevioletred;
  min-width: 10px;
  padding: 0px 5px;
  height: 15px;
  border-radius: 10px;
  text-align: center;
  line-height: 19px;
  vertical-align: middle;
  display: block;
  font-weight: bold;
  color: white;
}

.mat-toolbar h2 {
  font-size: small;
  font-weight: bold;
}

button {
  &.image {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50px;
    height: 50px;
    cursor: auto;

  }
}

button {
  &.userimage {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30px;
    height: 30px;
    cursor: auto;

  }
}

/*button.mat-menu-item{
  background-color: white;
}

button.mat-menu-item:hover {
  background-color: blue;
  color: #fff !important;
}*/
