<div fxLayout="column" class="flex-container">

  <div fxLayout="row" fxLayoutGap="10px"  class="flex-container">
    <mat-card>
      <mat-form-field>
        <mat-select placeholder="Player Type">
          <mat-option *ngFor="let playerType of playerTypes" [value]="playerType.value" (click)="getPlayers(playerType);">
            {{ playerType.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Player">
          <mat-option *ngFor="let player of players" [value]="player.uniqueId" (click)="setPlayer(player);">
            {{ player.businessName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button md-button mat-raised-button color="primary" [routerLink]="routerLink" (click)="setLoginUser();">Proceed</button>
    </mat-card>

  </div>
</div>

