
<mat-toolbar style="font-size: small">
  Total Shipments: {{ totalShipments }}
  <span class="flex-spacer"></span>
  <mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="Shipment ID" [(ngModel)]="value"/>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button  matSuffix mat-icon-button routerLink="/shipments"><mat-icon>search</mat-icon></button>
</mat-toolbar>


<div><h5 style="padding-left: 10px">Shipments</h5><hr/></div>

<br>
<br>

<div fxLayout="column" class="flex-container">
<div class="flex-container"
     fxLayout="row"
     fxLayoutGap="20px">
  <mat-card> 
    <div fxFlex>
      <fusioncharts
        [width]="width"
        [height]="height"
        [type]="type"
        [dataFormat]="dataFormat"
        [dataSource]="shipmentStatusDataSource">
      </fusioncharts>
    </div>
  </mat-card>

<!--
  <mat-card>
    <div fxFlex>
      <fusioncharts
        [width]="width"
        [height]="height"
        [type]="type"
        [dataFormat]="dataFormat"
        [dataSource]="countriesDataSource">
      </fusioncharts>
    </div>
  </mat-card>
-->
</div>
</div>


