<div class="example-container" fxLayout="column" fxLayoutAlign="top stretch">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>


  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ShipmentId Column -->
    <ng-container matColumnDef="shipmentId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ShipmentID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.shipmentId}} </mat-cell>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="shipFromLocation">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ship From </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.shipFromLocation.locationCode}} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="shipToLocation">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ship To </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.shipToLocation.locationCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pickupFromDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pickup From </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pickupFromDateTime | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pickupToDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pickup To </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pickupToDateTime | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deliveryFromDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery From Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.deliveryFromDateTime | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deliveryToDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery To Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.deliveryToDateTime | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="commodityCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Commodity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.commodityCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unitOfMeasure">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UOM </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.unitOfMeasure}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>


</div>
