<div class="example-container" fxLayout="column" fxLayoutAlign="top stretch">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>


  <mat-table #table [dataSource]="dataSource" matSort matSortActive="shipmentId" matSortDirection="asc" matSortDisableClear>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ShipmentId Column -->
    <ng-container matColumnDef="shipmentId">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5px;"> ShipmentID </mat-header-cell>
      <mat-cell *matCellDef="let element"  [routerLink]="['/shipmentTracker', element.shipmentId]">
        <button mat-button >
          <span style="font-size: x-small;">{{element.shipmentId}}</span>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="shipmentStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngSwitch]="element.shipmentStatus">
        <span *ngSwitchCase="'DSTS_SHPM_D_PROCESSING'">Processing</span>
        <span *ngSwitchCase="'DSTS_SHPM_D_IN_TRANSIT'">In Tranist</span>
        <span *ngSwitchCase="'DSTS_SHPM_D_ASSIGNED_TO_CARRIER'">Assigned To Carrier</span>
        <span *ngSwitchCase="'DSTS_SHPM_D_DELIVERED'">Delivered</span>
        <span *ngSwitchDefault>{{element.shipmentStatus}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="shipFromLocation">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ship From</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="element.shipFromLocation!=null">
        {{element.shipFromLocation.locationCode}}
        </span>
      </mat-cell>
    </ng-container>

    <!-- Status Column -->
   <ng-container matColumnDef="shipToLocation">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ship To</mat-header-cell>
      <mat-cell *matCellDef="let element">
         <span *ngIf="element.shipToLocation!=null">
        {{element.shipToLocation.locationCode}}
         </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pickupFromDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pickup From Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pickupFromDateTime | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pickupToDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pickup To Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pickupToDateTime | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deliveryFromDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery From Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.deliveryFromDateTime | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deliveryToDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery To Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.deliveryToDateTime | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="commodityCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Commodity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.commodityCode}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>


</div>
