.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;

}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-cell {
  font-size: x-small;
  //align-items: safe;
}

.mat-button {
  color:#00a9e0;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
  flex: 0 0 10%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2),
{
  flex: 0 0 20%;
}

.mat-cell, .mat-header-cell {
  flex: 1;
  min-height: 30px;
  min-width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
