
<mat-toolbar>
  <h4>Shipment Status:SHP01</h4>
  <span class="flex-spacer"></span>
  <button mat-button>Refresh</button>
  <button mat-button routerLink="/shipper">Done</button>
</mat-toolbar>


<div fxLayout="row" fxLayoutGap="0px">
  <div id="box">
    <div id="content">
      Delayed <h1>2:59</h1> hours
    </div>
  </div>
  <div id="box">
    <div id="content">
      <h1>3 of 5</h1> stops completed
    </div>
  </div>
  <div id="box">
    <div id="content">
      <h3>15. DEP - Carrier Departed De</h3>
      <h4>4. 886YZL, Denver, CO</h4>
      <p>02-Aug-2013 13:54 (UTC-05:54)<br>
        Last Recorded Event</p>
    </div>
  </div>
  <div id="box">
    <div id="content">
      <strong>AS54888</strong> Shipment ID<br>
      <strong>3,200.38 USD</strong> Shipment Cost<br>
      <strong>754,878.21 USD</strong> Freight Value
    </div>
  </div>
  <div id="box">
    <div id="content">
      <h4>Truckload</h4>
      <h4>VTTC</h4>
      <h4>147995CW</h4>
      <h4>*Vision Trucking</h4>
    </div>
  </div>
  <div id="box">
    <div id="content">
      <h1>78%</h1> Weight Utilization
    </div>
  </div>
  <div id="box">
    <div id="content">
      <h1>47</h1> Orders
    </div>
  </div>
</div>

<mat-toolbar>
  <h2>Route and Status</h2>
</mat-toolbar>

<div fxLayout="row" fxLayoutGap="0px" style="padding-left: 40px">
  <div id="box1">
    <div id="content">
      DEL
      <h6>02-Aug-2017</h6>
    </div>
  </div>
</div>

<ol class="progtrckr" data-progtrckr-steps="5">
  <li class="progtrckr-done">
  </li><!--
 --><li class="progtrckr-delaymin">


</li><!--
 --><li class="progtrckr-delayhour">


</li><!--
 --><li class="progtrckr-todo">

</li><!--
 --><li class="progtrckr-todo">


</li>

</ol>

