<div fxLayout="column" class="container">
<div fxLayout="row" class="container"  fxLayoutGap="20px" fxLayoutAlign="center">
    <mat-card>
      <mat-horizontal-stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>alarm-off</mat-icon>
        </ng-template>

        <mat-step label="Hyderabad" mat-list-icon="edit">
          Started from warehouse
        </mat-step>
        <mat-step label="Chennai">
          Reached chennai
        </mat-step>
        <mat-step label="Bangalore">
          Reached hub
        </mat-step>
        <mat-step label="Mumbai">
          In-transit to Delhi
        </mat-step>
        <mat-step label="Delhi">
        Pick up from Delhi
       </mat-step>
        <mat-step label="Noida">
          Reached Noida
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>

 <!-- <mat-card>
    <mat-vertical-stepper>
      <mat-step label="Hyderabad">
        Started from warehouse
      </mat-step>
      <mat-step label="Chennai">
        Reached chennai
      </mat-step>
      <mat-step label="Bangalore">
        Reached hub
      </mat-step>
      <mat-step label="Mumbai">
        In-transit to Delhi
      </mat-step>
      <mat-step label="Delhi">
        Pick up from Delhi
      </mat-step>
      <mat-step label="Noida">
        Reached Noida
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>-->
</div>
</div>
