
$mat-row-height: 48px;

$mat-row-horizontal-padding: 24px;

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.flex-container {
  display: flex;
  height: 500px;
  //align-items: center;
}

.home-card {
  max-width: 1000px;
  max-height: 400px;
}


.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;

}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-cell {
  font-size: small;
  //align-items: safe;
}

/*.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5),
{
  flex: 0 0 7%;
  //justify-content: center;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6),
{
  flex: 0 0 7%;
  justify-content: center;
}*/

.positive {
  color: white;
  background-color: #00AE4D;
  border-radius: 50px;
  font-weight: bold;

}

.negative {
  color: white;
  background-color: #f30531;
  border-radius: 50px;
  font-weight: bold;

}


.mat-cell, .mat-header-cell {
  flex: 1;
  min-height: 30px;
  min-width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-icon{
  font-size:24px !important;
}
.toto{
  font-size:15px !important;
  display: flex;
  align-items: center;
}
