<mat-horizontal-stepper>
    <mat-step editable="false" completed="false">      
      <div>
       <p>Shipment Creation</p>
      </div>
    </mat-step>
    <mat-step editable="false" completed="false">      
        <div>
          <p>Shipment Planning</p>
        </div>
      </mat-step>
      <mat-step editable="false" completed="false">      
        <div>
          <p>Shipment In Transit</p>
        </div>
      </mat-step>
      <mat-step editable="false" completed="false">      
        <div>
          <p>Shipment Reached</p>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
