<div fxLayout="column" class="flex-container" >

  <mat-toolbar>
    <!-- <button mat-icon-button (click)="snav.toggle()">
       <mat-icon>menu</mat-icon>
     </button>-->
    <h2>Shipment Info: {{shipment.shipmentId}}</h2>
    <span class="flex-spacer"></span>
    <button mat-icon-button [routerLink]="['/shipmentDetail', shipment.shipmentId]">
      <mat-icon matTooltip="Grid View">list</mat-icon>
      <!-- style="background-color: #00a9e0;; border-radius: 100px; color: white"-->
    </button>
    <button mat-icon-button routerLink="/shipments">
      <mat-icon matTooltip="Back To Shipments">keyboard_arrow_left</mat-icon>
    </button>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutGap="10px"  class="flex-container" >

    <mat-card class="home-card" [routerLink]="['/shipmentDetail', shipment.shipmentId]" >

      <div class="md-stepper-horizontal green">

      <ul style="display: flex">
        <li *ngFor="let leg of shipment.shipmentLegs; index as index" style="display:inline;">
          <div class="{{ leg.arrivalDelay < 0 && leg.shipmentLegStatus.toString()  ==  'DSTS_SL_D_DELIVERED' ? 'md-step delayed done' : leg.arrivalDelay > 0 && leg.shipmentLegStatus.toString()  ==  'DSTS_SL_D_DELIVERED'  ? 'md-step active done' : 'md-step '}}">

            <div class="md-step-circle"><span></span></div>
            <div class="md-step-title" [ngSwitch]="leg.shipmentLegStatus">
                <span *ngSwitchCase="'DSTS_SL_D_PROCESSING'">Processing</span>
                <span *ngSwitchCase="'DSTS_SL_D_ASSIGNED_TO_CARRIER'">Assigned To Carrier</span>
                <span *ngSwitchCase="'DSTS_SL_D_PICKING_UP'">Picking Up</span>
                <span *ngSwitchCase="'DSTS_SL_D_IN_TRANSIT'">In Tranist</span>
                <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_DELIVERED'">Partially Delivered</span>
                <span *ngSwitchCase="'DSTS_SL_D_DELIVERED'">Delivered</span>
                <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_POD'">Partially POD</span>
                <span *ngSwitchCase="'DSTS_SL_D_POD'">POD</span>
                <span *ngSwitchCase="'DSTS_SL_D_CLOSED'">Closed</span>
                <span *ngSwitchCase="'DSTS_SL_D_LLPURGED'">Purged</span>
                <span *ngSwitchDefault>{{leg.shipmentLegStatus}}</span>
              <br>
              <small><b>{{ leg.shipFromLocation.city }}, {{ leg.shipFromLocation.country}}</b></small>
              <br>
              <small>{{ leg.actualArrivalDateTimeFromLocation | date}}</small>
            </div>
            <span *ngIf="index > 0"><div style="position:absolute;top:36px;height:1px;border-top:1px solid #DDDDDD;left:0;right:50%;margin-right:20px;"></div></span>
            <div style="position:absolute;top:36px;height:1px;border-top:1px solid #DDDDDD; right:0;left:50%;margin-left:20px;"></div>
          </div>
        </li>
        <div class="{{ lastShipmentLeg.arrivalDelay < 0 && lastShipmentLeg.shipmentLegStatus.toString()  ==  'DSTS_SL_D_DELIVERED' ? 'md-step delayed done' : lastShipmentLeg.arrivalDelay > 0 && lastShipmentLeg.shipmentLegStatus.toString()  ==  'DSTS_SL_D_DELIVERED'  ? 'md-step active done' : 'md-step '}}">
          <div class="md-step-circle"><span></span></div>
          <div class="md-step-title">
            <small>{{ lastShipmentLeg.shipmentLegStatus }}</small>
            <br>
            <small><b>{{ lastShipmentLeg.shipToLocation.city }}, {{ lastShipmentLeg.shipToLocation.country}}</b></small>
            <br>
            <small>{{ lastShipmentLeg.actualArrivalDateTimeFromLocation | date}}</small>
          </div>
          <div class="md-step-bar-left"></div>
        </div>
      </ul>
      </div>


    </mat-card>
   <!-- <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Shipment Summary
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="md-stepper-horizontal green">

          <ul style="display: flex">
            <li *ngFor="let leg of shipment.shipmentLegs" style="display:inline;">
              <div class="{{ leg.shipmentLegStatus.toString() == 'DSTS_SL_D_DELIVERED' ? 'md-step active done' : 'md-step undone'}}">

                <div class="md-step-circle"><span></span></div>
                <div class="md-step-title">
                  <small>{{ leg.shipmentLegStatus }}</small>
                  <br>
                  <small><b>{{ leg.shipFromLocation.city }}, {{ leg.shipFromLocation.country}}</b></small>
                  <br>
                  <small>{{ leg.actualArrivalDateTimeFromLocation | date}}</small>
                </div>
                <div style="position:absolute;top:36px;height:1px;border-top:1px solid #DDDDDD;left:0;right:50%;margin-right:20px;"></div>
                <div style="position:absolute;top:36px;height:1px;border-top:1px solid #DDDDDD; right:0;left:50%;margin-left:20px;"></div>
              </div>
            </li>
            <div class="{{ lastShipmentLeg.shipmentLegStatus.toString() == 'DSTS_SL_D_DELIVERED' ? 'md-step active done' : 'md-step undone'}}">
              <div class="md-step-circle"><span></span></div>
              <div class="md-step-title">
                <small>{{ lastShipmentLeg.shipmentLegStatus }}</small>
                <br>
                <small><b>{{ lastShipmentLeg.shipToLocation.city }}, {{ lastShipmentLeg.shipToLocation.country}}</b></small>
                <br>
                <small>{{ lastShipmentLeg.actualArrivalDateTimeFromLocation | date}}</small>
              </div>
              <div class="md-step-bar-left"></div>
            </div>
          </ul>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Shipment Leg Details
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-shipmentdetail></app-shipmentdetail>
      </mat-expansion-panel>
    </mat-accordion>
-->
  </div>




</div>
