<mat-toolbar *ngIf="shipment!=null">
  <h2>Shipment Details</h2>
  <span class="flex-spacer"></span>
  <button mat-icon-button>
    <mat-icon matTooltip="Refresh" (click)="refresh()">refresh</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/shipmentDetail', shipment.shipmentId]">
    <mat-icon matTooltip="Grid View">list</mat-icon>
    <!-- style="background-color: #00a9e0;; border-radius: 100px; color: white"-->
  </button>
  <button mat-icon-button routerLink="/shipments">
    <mat-icon matTooltip="Back To Shipments">keyboard_arrow_left</mat-icon>
  </button>
</mat-toolbar>
<div fxLayout="column" class="flex-container" >

  <br>

  <mat-card class="home-card" >
  <table border="0" style="font-size: small" width="970px" class="fontColor">
    <tr>
      <td>
        <table align="center" cellspacing="10px" cellpadding="5px">
          <tr>
            <td><b>Shipment ID:</b></td>
            <td>{{shipment.shipmentUserId}}</td>
          </tr>
          <tr>
            <td><b>Shipment Number:</b></td>
            <td>{{shipment.shipmentId}}</td>
          </tr>
          <tr>
            <td><b>Origin Location:</b></td>
            <td>{{shipment.shipFromLocation.locationName}}</td>
          </tr>
          <tr>
            <td><b>Start Date Time:</b></td>
            <td>{{shipment.shipmentLegs[0].computedArrivalDateTimeFromLocation | date : "MMM d, yyyy h:mm a" : "Z"}}</td>
          </tr>
          <tr>
            <td><b>Vessel Name:</b></td>
            <span *ngIf="shipment.shipmentLegs[1].vesselName != null;else default">
              <td>{{shipment.shipmentLegs[1].vesselName}}></td>
            </span>
            <ng-template #default><td>MADRID MAERSK</td></ng-template>
          </tr>

        </table>
      </td>
      <td>
        <table  align="center" cellspacing="10px" cellpadding="5px">
          <tr>
            <td><b>Customer:</b></td>
            <td>{{shipment.customerCode}}</td>
          </tr>
          <tr>
            <td><b>Shipment Status:</b></td>
            <td>
            <div [ngSwitch]="shipment.shipmentStatus">
                  <span *ngSwitchCase="'DSTS_SHPM_D_PROCESSING'">Processing</span>
                  <span *ngSwitchCase="'DSTS_SHPM_D_ASSIGNED_TO_CARRIER'">Assigned To Carrier</span>
                  <span *ngSwitchCase="'DSTS_SHPM_D_IN_TRANSIT'">In Transit</span>
                  <span *ngSwitchCase="'DSTS_SHPM_D_DELIVERED'">Delivered</span>

            </div>
            </td>

          </tr>
          <tr>
            <td><b>Destination Location:</b></td>
            <td>{{shipment.shipToLocation.locationName}}</td>
          </tr>
          <tr>
            <td><b>End Date Time:</b></td>
            <td>{{shipment.shipmentLegs[shipment.shipmentLegs.length-1].computedArrivalDateTimeToLocation | date : "MMM d, yyyy h:mm a" : "Z"}}</td>
          </tr>
          <tr>
            <td><b>Voyage Number:</b></td>
            <td>{{shipment.shipmentLegs[1].voyageNumber}}</td>
            <td *ngIf="shipment.shipmentLegs[1].voyageNumber == null">808L</td>
          </tr>

        </table>
      </td>
    </tr>
  </table>

  </mat-card>


  <div fxLayout="row" fxLayoutGap="10px"  class="flex-container" >

    <mat-card class="home-card" [routerLink]="['/shipmentDetail', shipment.shipmentId]" >

      <div class="md-stepper-horizontal green">

      <ul style="display: flex">
        <li *ngFor="let node of nodes; index as index" style="display:inline;">
          <div class="{{ node.iconStyle }}">
            <div class="md-step-circle"><span></span></div>
            <!--<span style="text-align: right"><small>Delay: {{ node.delay}}</small></span>-->
            <div class="{{ node.nodeTitleStyle }}">
              <br>
              <small>{{ node.locationName}}</small>
              <br>
              <small><b>{{ node.city }}, {{ node.country}}</b></small>
              <br>
              <small *ngIf="node.arrivalTime != null">Arrival: {{  node.arrivalTime | date : "MMM d, yyyy h:mm a" : "Z"}}</small>
              <br>
              <small *ngIf="node.departureTime != null">Departure:  {{ node.departureTime | date : "MMM d, yyyy h:mm a" : "Z" }}</small>
            </div>
            <span *ngIf="index == 0">
              <div class="first-line" [ngSwitch]="node.leftStatus">
              <span class="node-status">
                  <span *ngSwitchCase="'1'">Picked Up</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PROCESSING'">Processing</span>
                  <span *ngSwitchCase="'DSTS_SL_D_ASSIGNED_TO_CARRIER'">Assigned To Carrier</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PICKING_UP'">Picking Up</span>
                  <span *ngSwitchCase="'DSTS_SL_D_IN_TRANSIT'">In Transit</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_DELIVERED'">Partially Delivered</span>
                  <span *ngSwitchCase="'DSTS_SL_D_DELIVERED'">Delivered</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_POD'">Partially POD</span>
                  <span *ngSwitchCase="'DSTS_SL_D_POD'">POD</span>
                  <span *ngSwitchCase="'DSTS_SL_D_CLOSED'">Closed</span>
                  <span *ngSwitchCase="'DSTS_SL_D_LLPURGED'">Purged</span>
                  <span *ngSwitchDefault>{{node.leftStatus}}</span>
                </span>
                </div>
            </span>
            <span *ngIf="index > 0">
              <div class="{{ node.leftLineStyle }}" [ngSwitch]="node.leftStatus">
              <span class="node-status">
                  <span *ngSwitchCase="'1'">Picked Up</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PROCESSING'">Processing</span>
                  <span *ngSwitchCase="'DSTS_SL_D_ASSIGNED_TO_CARRIER'">Assigned To Carrier</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PICKING_UP'">Picking Up</span>
                  <span *ngSwitchCase="'DSTS_SL_D_IN_TRANSIT'">In Transit</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_DELIVERED'">Partially Delivered</span>
                  <span *ngSwitchCase="'DSTS_SL_D_DELIVERED'">Delivered</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_POD'">Partially POD</span>
                  <span *ngSwitchCase="'DSTS_SL_D_POD'">POD</span>
                  <span *ngSwitchCase="'DSTS_SL_D_CLOSED'">Closed</span>
                  <span *ngSwitchCase="'DSTS_SL_D_LLPURGED'">Purged</span>
                  <span *ngSwitchDefault>{{node.leftStatus}}</span>
                </span>
                </div>
            </span>
           <span *ngIf="index != (nodes.length - 1) ">
              <div class="{{ node.rightLineStyle }}" [ngSwitch]="node.rightStatus">
                <span class="node-status">
                  <span *ngSwitchCase="'1'">Picked Up</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PROCESSING'">Processing</span>
                  <span *ngSwitchCase="'DSTS_SL_D_ASSIGNED_TO_CARRIER'">Assigned To Carrier</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PICKING_UP'">Picking Up</span>
                  <span *ngSwitchCase="'DSTS_SL_D_IN_TRANSIT'">In Transit</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_DELIVERED'">Partially Delivered</span>
                  <span *ngSwitchCase="'DSTS_SL_D_DELIVERED'">Delivered</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_POD'">Partially POD</span>
                  <span *ngSwitchCase="'DSTS_SL_D_POD'">POD</span>
                  <span *ngSwitchCase="'DSTS_SL_D_CLOSED'">Closed</span>
                  <span *ngSwitchCase="'DSTS_SL_D_LLPURGED'">Purged</span>
                  <span *ngSwitchCase="'DSTS_SL_D_DEPARTED'">Departed</span>
                  <span *ngSwitchCase="'12'">Departed</span>
                  <span *ngSwitchDefault>{{node.rightStatus}}</span>
                </span>
              </div>
            </span>
            <!--<span *ngIf="index == (nodes.length - 1) ">
              <div class="last-line" [ngSwitch]="node.status">
                <span class="node-status">
                  <span *ngSwitchCase="'1'">Picked Up</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PROCESSING' ">Processing</span>
                   <span *ngSwitchCase="'2' ">Processing</span>
                  <span *ngSwitchCase="'DSTS_SL_D_ASSIGNED_TO_CARRIER'">Assigned To Carrier</span>
                  <span *ngSwitchCase="'3'">Assigned To Carrier</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PICKING_UP'">Picking Up</span>
                  <span *ngSwitchCase="'DSTS_SL_D_IN_TRANSIT'">In Transit</span>
                  <span *ngSwitchCase="'5'">In Transit</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_DELIVERED'">Partially Delivered</span>
                  <span *ngSwitchCase="'DSTS_SL_D_DELIVERED'">Delivered</span>
                  <span *ngSwitchCase="'DSTS_SL_D_PARTIALLY_POD'">Partially POD</span>
                  <span *ngSwitchCase="'DSTS_SL_D_POD'">POD</span>
                  <span *ngSwitchCase="'DSTS_SL_D_CLOSED'">Closed</span>
                  <span *ngSwitchCase="'DSTS_SL_D_LLPURGED'">Purged</span>
                  <span *ngSwitchDefault>{{node.status}}</span>
                </span>
              </div>
            </span>-->

          </div>
        </li>
      </ul>
      </div>

    </mat-card>


  </div>
  <div style="display: flex;font-size: x-small" >
    <table cellpadding="5" border="0" cellspacing="5">
      <tr>
        <td><img src="/assets/images/processing.png" alt="Smiley face" width="15px" height="15px"></td>
        <td>Not Started</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><img src="/assets/images/ontimeDelivered.png" alt="Smiley face" width="15px" height="15px"></td>
        <td>On Time</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><img src="/assets/images/delayDelivered.png" alt="Smiley face" width="15px" height="15px"></td>
        <td>Delayed</td>


      </tr>
    </table>

  </div>
<!--<div style="display: flex">
  <div class="md-stepper-horizontal green">
    <div class="md-step active done">
      <div class="md-step-circle"><span></span></div>
    </div>

    <div class="md-step delayed done">
      <div class="md-step-circle"><span></span></div>
    </div>
  </div>
</div>
</div>-->





